body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    padding-top: 2px;
    height: 157px;
    width: 150px;
    border-radius: 3px;
    
}

@keyframes pop{
    from{color: #7209B7 }
    to{color: #FAEDCD}
}

@keyframes pop2{
    from{background-color: #7209B7 }
    to{background-color: #FAEDCD}
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #7209B7;
    color: #11001C;
    border-bottom: 6px solid #FAEDCD;
    padding-bottom: 0;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h3{
    border-bottom: #11001C 2px outset;
    padding: 4px 7px;
    border-bottom-right-radius: 7px;
    border-top: #11001C 2px solid;
    border-top-left-radius: 7px;
    text-shadow: 2px 2px 5px #FAEDCD;
    
}

h5{
    color: #7209B7;
    animation-name: pop;
    animation-duration: 0.5s;
    animation-delay: 2s;
}

h5:hover{
    color: #FAEDCD
}

h3:hover{
    animation-name: pop2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}




/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
